.heroContent {
  max-width: 50%;
  flex: 1;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .heroContent {
    max-width: 100%;
  }
  .buttonGroup {
    flex-direction: column;
    gap: 1.5rem;
  }
}
