/* styles.module.css */

.steps {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.steps li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps li h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.steps li p {
  max-width: 600px;
}
