/* styles.module.css */

.ctaBanner h2 {
  color: #000;
}

.ctaBanner {
  background-color: #ffd944;
  padding: 3rem 0;
  text-align: center;
  overflow: hidden;
  z-index: 10;
  position: relative;
}
