/* styles.module.css */

.ctaBanner h2 {
  color: #000;
}

.ctaBanner {
  background-color: #ffd944;
  padding: 10rem 0;
  text-align: center;
  overflow: hidden;
}

.ctaBanner a {
  margin-top: 3rem;
}
