/* Global Styles */
body {
  font-family: 'Inter', sans-serif; /* A modern, clean font */
  color: #333;
  line-height: 1.6;
  background-color: #f9f9f9; /* Light background for good readability */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
