/* SlantedArea.module.css */
.slantedContainer {
  position: relative;
  padding: 0;
}

.slantedContent {
  background: #ffd944;
  transform: skewY(-5deg);
  margin: 0;
  padding: 4rem 0;
}

.slantedContent h2 {
  margin-bottom: 1rem;
  transform: skewY(5deg);
  color: #000;
}

.mainContent {
  transform: skewY(5deg);
  max-width: var(--ifm-container-width-xl);
  margin: 0 auto;
  padding: 2rem 1rem;
}
