.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.problemContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholderImage {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.problemStatement p,
.solutionOverview p {
  font-size: 1.1rem;
  margin: 10px 0;
  text-align: left;
}
