/* styles.module.css */

.ctaBanner {
  background: linear-gradient(
    135deg,
    #ffd944 40%,
    #ffd944
  );
  padding: 200px 0; /* Increased padding for the whole section */
  text-align: center;
}

.ctaBanner h2 {
  color: #fff;
}
