/* styles.module.css */

.ctaBanner {
  background: linear-gradient(
    135deg,
    var(--ifm-color-primary) 40%,
    var(--ifm-color-primary)
  );
  padding: 200px 0; /* Increased padding for the whole section */
  text-align: center;
}

.ctaBanner h2 {
  color: #fff;
}
