/* src/css/custom.css */

/* Base Styles */
:root {
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-family-monospace: 'Fira Code', monospace;
  --ifm-color-primary: #000;
  --ifm-background-color: #000;
  --alt-background-color: #000;
  --ifm-hero-text-color: #000;
  --ifm-font-color-base: #fff;
  --ifm-font-color-base-inverse: #fff;
  --ifm-footer-background-color: #000;
  --ifm-card-background-color: #000;
  overflow-x: hidden;
}

html[data-theme='dark'] {
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-family-monospace: 'Fira Code', monospace;
  --ifm-color-primary: #000;
  --ifm-background-color: #000;
  --alt-background-color: #000;
  --ifm-hero-text-color: #000;
  --ifm-font-color-secondary: #ffd944;
  --ifm-color-secondary: #ffd944;
  overflow-x: hidden;
  --ifm-footer-background-color: #000;
}

/* Body and Text */
body {
  color: #fff;
  line-height: 1.7;
}

/* Sections */
.section {
  padding: 4rem 2rem;
  text-align: center;
}

.section__title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #ffd944;
}

.section__content {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
}

.hero__subtitle,
.section__subtitle {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.section__description {
  text-align: left;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  gap: 30px;
}

.card:hover {
  transform: translateY(-10px);
}

.card__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card__header,
.card__footer {
  text-align: center;
}

.card__body {
  text-align: left;
}

.col {
  margin-top: 30px;
}

/* Backgrounds */
.darkBackground {
  background-color: #000;
}

.lightBackground {
  background-color: #ffd944;
}

/* Containers */
.container {
  &.paddingAll {
    padding: 40px;
  }
  &.paddingBottom {
    padding-bottom: 80px;
  }
  &.paddingLeft {
    padding-left: 40px;
  }
  &.paddingRight {
    padding-right: 40px;
  }
  &.paddingTop {
    padding-top: 80px;
  }

  @media (max-width: 768px) {
    &.paddingBottom {
      padding-bottom: 40px;
    }
    &.paddingTop {
      padding-top: 20px;
    }
  }
}

/* Icons */
.icon {
  font-size: 2rem;
  color: #ffd944;
  margin-bottom: 10px;
}

/* Buttons */
.mainButton,
.secondaryButton {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  color: #000;
}

.mainButton,
.secondaryButton {
  color: #000;
  background-color: #ffd944;
  border: 2px solid #ffd944;
}

.mainButton:hover,
.secondaryButton:hover {
  color: #ffd944;
  background-color: #000;
  border: 2px solid #ffd944;
}

.outlinedButton {
  border: 2px solid #000;
  color: #000;
  background-color: #ffd944;
}

.outlinedButton:hover {
  background-color: #000;
  color: #ffd944;
}

/* Headings */
.h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 50px;
  font-weight: 600;
}

.hero__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.slantedContainer {
  position: relative;
  padding: 0;
}

.slantedContent {
  background: #ffd944;
  transform: skewY(-5deg);
  margin: 0;
  padding: 4rem 0;
}

.slantedContent h2 {
  transform: skewY(5deg);
  color: #000;
}

.mainSlantedContent {
  transform: skewY(5deg);
  max-width: var(--ifm-container-width-xl);
  margin: 0 auto;
  padding: 2rem 1rem;
}

/* CTABannerSection */
.ctaBanner h2 {
  color: #000;
  margin-bottom: 6rem;
  z-index: 10;
}

.ctaBanner {
  position: relative;
  background-color: #ffd944;
  padding: 2rem 1rem;
  padding: 200px 0;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.ctaBanner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/img-white.svg');
  background-size: cover;
  background-position: center;
  opacity: 0.09;
  z-index: -1;
}

.ctaBanner .row {
  position: relative;
  z-index: 1;
}

/* HeroSection */
.hero {
  text-align: left;
  overflow: hidden;
  position: relative;
  background-color: var(--main-bg-color);
}

.heroContent {
  max-width: 50%;
  flex: 1;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}

.heroImageContainer {
  position: absolute;
  opacity: 0.09;
  left: 0;
  right: 0;
  top: -400px;
  max-width: 1400px;
  margin: auto;
  z-index: -1;
}

.logoBackground {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__subtitle {
    font-size: 1.1rem;
  }
  .key-benefits {
    flex-direction: column;
    align-items: center;
  }
  .key-benefit {
    width: 80%;
  }
  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .heroContent {
    max-width: 100%;
  }
  .heroImageContainer {
    max-width: 100%;
    margin-top: 20px;
  }
  .buttonGroup {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 2rem;
  }

  .hero__subtitle {
    font-size: 1rem;
  }
}

/* KeyInsightsSection */

.insightsList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.insightItem {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
}

.keyInsightsIcon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

/* Use Cases */

.useCases {
  padding: 100px 0; /* Increased padding around the entire section */
}
