/* styles.module.css */

.icon {
  font-size: 1.2rem;
  color: #ffd944;

  margin-right: 0.75rem;
}

.insightsList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.insightItem {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
